body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.btn {
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
}

.btn:hover,
.btn:focus {
  background-color: #669ec0;
}

.btn:active {
  background-color: #5496bd;
}


.btn-dark {
  background-color: #766357;
}


.btn-dark:hover,
.btn-dark:focus {
  background-color: #604e43;
}

.btn-dark:active {
  background-color: #503e33;
}

.page-wrapper {
  text-align: center;
}


.site-navigation {
  font-weight: 700;
  color: #000000;
  list-style: none;

  background-color: #ffffff;
}

.site-navigation a {
  color: #000000;
}



.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.welcome {
  background-image: url(../img/welcome-bg.jpg); 
  background-size: cover;
}

.page-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.intro {
  text-align: center;
}

.intro p {
  line-height: 26px;
}

.booking {
  text-align: center;
}

.booking-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.booking p {
  line-height: 24px;
}

.booking-btn {
  font-size: 21px;
  line-height: 26px;
}


.booking-search {
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.booking-field input,
.booking-field-half input {
  font: inherit;
  text-transform: uppercase;

  border: 2px solid #f2f2f2;
  background-color: #f2f2f2;
}

.booking-field input:hover,
.booking-field-half input:hover {
  border: 2px solid #ebebeb;
  background-color: #ebebeb;
}

.booking-field input:focus,
.booking-field-half input:focus {
  outline: none;
  border: 2px solid #e5e5e5;
  background-color: #ffffff;

}

.booking-form-btn {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;

  border: none;
  background-color: #81b3d2;
}

.booking-form-btn:hover,
.booking-form-btn:focus{
  background-color: #669ec0;
}

.booking-form-btn:active {
  background-color: #5496bd;
}

.footer-hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.footer-social {
  text-align: center;
}

.social-link {
  color: #000000;
}

.social-list  {
  list-style: none;
}


.footer-copyright {
  line-height: 26px;
  text-align: right;
}

.copyright:hover {
  color: #81b3d2;
}

.catalog-item-title {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.catalog-item-title:hover,
.catalog-item-title:focus {
  color: #81b3d2; 
}

.catalog-item-title:active {
  color: rgba(0, 0, 0, 0.3);
}


.catalog-item-rating {
  background-color: #f2f2f2;
}